<section id="skills" class="h-screen bg-secondary text-primary">
  <div class="flex gap-3 h-full p-10">
    <!--    LEFT-->
    <div class="flex flex-col justify-between items-center gap-3 h-full w-1/2 p-4">

      <h2 class="text-9xl w-full">SKILLS</h2>

      <div class="flex items-end h-1/2 gap-5 w-full">
        <img ngSrc="assets/images/main.jpg" class="h-full w-1/2 object-cover cursor-pointer" alt="Portfolio Image 2"
             width="1600" height="2400">
        <div class="flex flex-col gap-4">
          <h4 class="text-3xl">LANGUAGES</h4>
          <ul>
            <li>C#</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
      </div>

    </div>
    <!--    RIGHT-->
    <div class="flex flex-col justify-between gap-3 h-full w-1/2 p-4">

      <div class="flex items-end h-1/2 gap-5">
        <img ngSrc="assets/images/main.jpg" class="h-full w-1/2 object-cover cursor-pointer" alt="Portfolio Image 2"
             width="1600" height="2400">
        <div class="flex flex-col gap-4">
          <h4 class="text-3xl">FRAMEWORKS</h4>
          <ul>
            <li>ASP.NET Core</li>
            <li>React</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>Tailwind</li>
          </ul>
        </div>
      </div>

      <div class="flex items-end h-1/2 gap-5">
        <img ngSrc="assets/images/main.jpg" class="h-full w-1/2 object-cover cursor-pointer" alt="Portfolio Image 2"
             width="1600" height="2400">
        <div class="flex flex-col gap-4">
          <h4 class="text-3xl">DATABASE & TOOLS</h4>
          <ul>
            <li>MSSQL</li>
            <li>MongoDB</li>
            <li>Git</li>
            <li>AWS</li>
            <li>Docker</li>
            <li>CI/CD</li>
            <li>Agile</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
