<section id="skills" sectionId="skills" appSectionObserver class="min-h-screen bg-secondary text-primary flex flex-col justify-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-6 md:p-10">

    <div class="flex rounded-xl p-8 max-md:items-center max-md:justify-center
                sm:col-span-2 md:col-span-1">
      <h2 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold">
        SKILLS
      </h2>
    </div>

    @for (category of skillCategories; track category.title) {
      <div
        class="flex flex-col md:flex-row gap-4 items-center md:items-end"
      >
        <img
          [ngSrc]="category.image"
          [alt]="category.alt"
          [width]="category.width"
          [height]="category.height"
          class="w-full md:w-1/2 h-64 md:h-full object-cover rounded-xl cursor-pointer"
        />
        <div class="flex flex-col w-full md:w-1/2 gap-3 text-center md:text-left">
          <h4 class="text-2xl md:text-3xl font-semibold">{{ category.title }}</h4>
          <ul class="space-y-1">
            @for (skill of category.skills; track skill){
              <li>{{ skill }}</li>
            }
          </ul>
        </div>
      </div>
    }

  </div>
</section>
