<section class="h-screen bg-primary text-secondary pt-20">
  <div class="flex flex-col justify-around h-full px-20">
    <div class="flex gap-10">
      <h1 class="text-8xl uppercase w-1/3" appAnimateOnView (isVisibleChange)="onVisionVisibleChange($event)"
          [ngClass]="{
      'animate-slide-down-1':isVisionVisible
      }" [animateOnce]="true">
        VISION</h1>
      <div class="border-b flex flex-col w-2/3 justify-end pb-5 mb-2" appAnimateOnView
           [ngClass]="{
      'animate-slide-down-1':isVisionVisible
      }
      ">
        <p>To capture the essence of life’s moments, turning them into timeless visual stories that inspire, connect,
          and preserve memories for generations.</p>
      </div>
    </div>
    <div class=" flex gap-10 justify-center
      ">
      <div class="w-1/3">img</div>
      <div class="border-b w-2/3 flex flex-col justify-end pb-5 mb-2" [ngClass]="{
      'animate-slide-down-2':isMissionVisible
      }">
        <h1 class="text-8xl uppercase" appAnimateOnView [animateOnce]="true" (isVisibleChange)="onMissionVisibleChange($event)"
        >
          MISSION</h1>
        <ul [ngClass]="{
      'animate-slide-down-2':isMissionVisible
      }">
          <li>To provide exceptional photography services that blend creativity, emotion, and authenticity.</li>
          <li>To collaborate with clients to bring their vision to life</li>
          <li>Creating meaningful and impactful visuals.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
