<section id="vision-mission" appSectionObserver sectionId="vision-mission" class="min-h-screen bg-primary text-secondary">
  <div class="flex flex-col items-center justify-around px-5 md:px-20 h-screen gap-5">
    <div class="flex flex-col xl:flex-row gap-5 md:gap-10 w-full sm:max-md:w-3/4 ">
      <h1 class="text-4xl sm:text-7xl text-center md:text-end md:text-10xl uppercase w-full md:w-1/3" appAnimateOnView
          (isVisibleChange)="onVisionVisibleChange($event)"
          [ngClass]="{
      'animate-slide-down-1':isVisionVisible
      }" [animateOnce]="true">
        VISION</h1>
      <div class="border-b flex flex-col md:w-2/3 justify-end pb-5 mb-2 text-justify" appAnimateOnView
           [ngClass]="{
      'animate-slide-down-1':isVisionVisible
      }
      ">
        <p class="max-md:text-sm">To capture the essence of life’s moments, turning them into timeless visual stories
          that inspire, connect,
          and preserve memories for generations.</p>
      </div>
    </div>
    <div class="flex justify-center items-center md:justify-end w-full sm:max-md:w-3/4">
      <div class="border-b flex flex-col md:justify-end pb-5 mb-2 gap-5" [ngClass]="{
      'animate-slide-down-2':isMissionVisible
      }">
        <h1 class="text-4xl sm:text-7xl text-end md:text-10xl uppercase max-md:text-center" appAnimateOnView
            [animateOnce]="true"
            (isVisibleChange)="onMissionVisibleChange($event)"
        >
          MISSION</h1>
        <ul class="max-md:text-sm" [ngClass]="{
      'animate-slide-down-2':isMissionVisible
      }">
          <li class="text-justify">To provide exceptional photography services that blend creativity, emotion, and
            authenticity.
          </li>
          <li class="text-justify">To collaborate with clients to bring their vision to life</li>
          <li class="text-justify">Creating meaningful and impactful visuals.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
