<section id="about-me" class="h-screen bg-primary text-secondary">
  <div class="flex flex-col sm:flex-row items-center h-full relative">
    <div class="w-[10%] h-full flex-1 hidden md:flex">
      <img ngSrc="assets/images/kapadokya.jpeg" alt="" class="h-full object-cover object-right" width="2000" height="1500">
    </div>

    <div class="sm:flex-4 h-full flex flex-col sm:flex-row max-sm:gap-4 items-center justify-center sm:justify-center relative">
      <h2 class="text-4xl sm:text-8xl md:text-10xl text-right font-bold sm:absolute whitespace-nowrap sm:top-[40%] sm:left-[5%]"
          style="transform: translateY(-50%);" appAnimateOnView (isVisibleChange)="onAboutMeVisibleChange($event)"
      [ngClass]="{
      'animate-slide-down-1': isAboutMeVisible
      }"
      >ABOUT ME</h2>
      <p class="sm:absolute p-4 text-justify sm:p-8 text-sm sm:top-[60%]" appAnimateOnView (isVisibleChange)="onAboutMeParagraphVisibleChange($event)"
         [ngClass]="{
      'animate-slide-down-2': isAboutMeParagraphVisible
      }"
      >Hi, I’m Rachelle Beaudry, a passionate photographer dedicated to capturing life’s most genuine moments.
        I specialize in lifestyle photography, blending creativity and storytelling to create images that resonate.
        Every shot I take is a reflection of my commitment to authenticity, artistry, and emotion.</p>
    </div>

    <div class="h-1/2 sm:h-full flex-4">
      <img ngSrc="assets/images/kapadokya.jpeg" alt="" class="h-full object-cover" width="2000" height="1500">
    </div>
  </div>
</section>
