<section class="h-screen bg-primary text-secondary">
  <div class="flex h-full">
    <div class="w-1/2">
      <img ngSrc="assets/images/contact.jpg" class="h-full object-cover cursor-pointer" alt="Contact Image"
           width="799" height="800">
    </div>
    <div class="flex flex-col justify-around items-center w-1/2 py-10">

      <div class="flex flex-col">
        <div class="flex justify-between mb-2"><span>{{ phone }}</span><span>{{ email }}</span></div>
        <h2 class="text-7xl uppercase text-center">
          CONTACT
        </h2>
      </div>

      <h6 class="uppercase text-xl">Let’s create something beautiful together.</h6>

    </div>
  </div>
</section>
