<section id="content" sectionId="content" appSectionObserver class="min-h-screen bg-secondary text-primary">
  <div class="flex flex-col max-md:items-center md:flex-row justify-center gap-4 px-10 pt-16 w-full h-full">
    <div class="md:w-1/2 flex flex-col items-end gap-10">
      <h1
        class="text-4xl md:text-8xl text-center mt-10"
        appAnimateOnView
        (isVisibleChange)="isContentVisibleChange($event)"
        [ngClass]="{ 'animate-slide-down-1': isContentVisible }"
      >
        CONTENT
      </h1>
      <img
        ngSrc="assets/images/content.jpg"
        alt="content image"
        class="hidden md:block w-1/2 h-1/3 object-cover"
        height="800"
        width="533"
      />
    </div>

    <div class="flex flex-col justify-center p-4 w-full sm:w-3/4 md:w-1/2 text-lg md:text-xl cursor-pointer">
      <ul appAnimateOnView (isVisibleChange)="isUlVisibleChange($event)">
        @for (content of contents(); let i = $index; track content.id) {
          <li
            class="border-b-2 border-primary p-4 animate-delay-{{i + 1}}"
            [ngClass]="{ 'animate-slide-down': isUlVisible }"
          >
            <a class="flex justify-between w-full" href="#{{content.title}}"
            ><span>0{{i + 1}}</span> <span>{{content.description}}</span>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</section>
