<nav class="fixed top-0 w-full p-4 border-b z-120 "
     [ngClass]="{
       ' text-primary border-primary': isOnContentSection || isWorkExperienceSection,
       ' text-secondary border-secondary': isAboutMeSection || isPortfolioHighlightsSection,
       'scrolled': isScrolled
     }">
  <div class="flex justify-between items-center text-sm tracking-wider px-4">
    <a routerLink="/" class="ml-2"> {{this.currentYear}}</a>
    <a routerLink="/" class="ml-2"> creative </a>
    <a routerLink="/" class="ml-2"> portfolio</a>
    <a routerLink="/" class="ml-2"> photography </a>
  </div>
</nav>
