@import 'tailwindcss';

* {
  box-sizing: border-box;
}

@theme {
  --color-primary: #A9170B;
  --color-secondary: #FFFCE8;
  --color-tertiary: #F5F5F5;
  --color-accent: #FF6F61;

  --text-4xl: 6rem;
  --text-5xl: 7rem;
}

:root {
  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }
}

body {
  font-family: 'Anton', sans-serif;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* letter-by-letter animation */
@keyframes letterReveal {
  0% {
    opacity: 0;
    transform: translateY(20px) rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}

